---
layout: default
title: Slim Framework
description: Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.
---
<header class="site-header">
    <div class="site-title">Slim</div>
    <div class="site-slogan">a micro framework for PHP</div>
</header>
<div class="row">
    <div class="col-md-12">
        <p class="lead">
            Slim is a PHP micro framework that helps you quickly write simple
            yet powerful web applications and APIs.
        </p>
        <pre class="language-php"><code>&lt;?php
use Psr\Http\Message\ResponseInterface as Response;
use Psr\Http\Message\ServerRequestInterface as Request;
use Slim\Factory\AppFactory;

require __DIR__ . '/../vendor/autoload.php';

$app = AppFactory::create();

$app-&gt;get('/hello/{name}', function (Request $request, Response $response, array $args) {
    $name = $args['name'];
    $response->getBody()->write("Hello, $name");
    return $response;
});

$app-&gt;run();</code></pre>
    </div>
</div>

{% include nav.html %}

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider front-page-divider"><span>Download &amp; Install</span></h1>
        <p>
            We recommend you install the Slim Framework with the
            <a href="https://getcomposer.org/" target="_blank">Composer</a>
            dependency manager.
        </p>
        <p>The easiest way to start working with Slim is to create a project using
        <a href="https://github.com/slimphp/Slim-Skeleton">Slim-Skeleton</a> as a base
        by running this bash command:</p>

        <pre><code class="language-bash">$ composer create-project slim/slim-skeleton [my-app-name]</code></pre>

        <p>Replace <code>[my-app-name]</code> with the desired directory name for your new application. </p>
        <p>You can then run it with PHP's built-in webserver:</p>
        <pre><code class="language-bash">$ cd [my-app-name]; php -S localhost:8080 -t public</code></pre>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider front-page-divider"><span>Features</span></h1>
        <div class="row">
            <div class="feature col-md-6">
                <h3><i class="fa fa-plane feature-icon"></i> HTTP Router</h3>
                <p>
                    Slim provides a fast and powerful router that maps
                    route callbacks to specific HTTP request methods and
                    URIs. It supports parameters and pattern matching.
                </p>
            </div>

            <div class="feature col-md-6">
                <h3><i class="fa fa-dot-circle-o feature-icon"></i> Middleware</h3>
                <p>
                    Build your application with concentric middleware to tweak
                    the HTTP request and response objects around your Slim app.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="feature col-md-6">
                <h3><i class="fa fa-exchange feature-icon"></i> PSR-7 Support</h3>
                <p>
                    Slim supports any PSR-7 HTTP message implementation
                    so you may inspect and manipulate HTTP message method,
                    status, URI, headers, cookies, and body.
                </p>
            </div>

            <div class="feature col-md-6">
                <h3><i class="fa fa-plug feature-icon"></i> Dependency Injection</h3>
                <p>
                    Slim supports dependency injection so you
                    have complete control of your external tools.
                    Use any PSR-11 ContainerInterface implementation.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider front-page-divider"><span>Latest News</span></h1>

        {% for post in site.posts limit:3 %}
        <article class="note note-partial">
            <time class="note-publish-datetime">{{ post.date | date: "%b %d, %Y" }}</time>
            <h2 class="note-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="note-excerpt">
                {{ post.excerpt }}
            </div>
        </article>
        {% endfor %}

        <p class="center">
            <a class="btn btn-primary btn-lg" href="/blog">Older News</a>
        </p>
        <p class="center">
            <small><a href="/blog/feed.rss"><i class="fa fa-rss-square"></i> Subscribe with RSS</a></small>
        </p>
    </div>
</div>

<div class="row section"><a name="community"></a>
    <div class="col-md-12">
        <h1 class="divider front-page-divider"><span>Community</span></h1>
        You can chat with other Slim Framework developers to share code or troubleshoot tricky issues using
        either Slack or Discourse.
        <h2>Slack</h2>
        <p>
            We can be found on <a href="https://slack.com">Slack</a> at <a href="https://slimphp.slack.com">slimphp.slack.com</a>.
            <p class="center">
                <a class="btn btn-primary btn-lg" href="https://join.slack.com/t/slimphp/shared_invite/zt-81z2y3cy-vHjPqNH_7x_5d5PubtW~Og">Get Access to the Slack Channel</a>
            </p>
        </p>
        <h2>Discourse forum</h2>
        <p>
            We also have a Discourse forum at <a href="https://discourse.slimframework.com/">discourse.slimframework.com/</a> for when you have a more in depth question.
            <p class="center">
                <a class="btn btn-primary btn-lg" href="https://discourse.slimframework.com/">Visit the forum</a>
            </p>
        </p>
    </div>
</div>

