---
layout: default
title: Slim Framework
description: Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.
---
<header class="site-header">
    <div class="site-title"><a href="/">Slim</a></div>
    <div class="site-slogan">a micro framework for PHP</div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Slim 3.0 RC 3 has been released. <a href="/2015/11/29/slim3-rc3.html">Details here</a>!
            Documentation is available <a href="/docs/">here</a>.
        </div>
        <p class="lead">
            Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.
        </p>
        <pre class="language-php"><code>&lt;?php
$app = new \Slim\Slim();
$app-&gt;get('/hello/:name', function ($name) {
    echo "Hello, $name";
});
$app-&gt;run();</code></pre>
    </div>
</div>

{% include nav.html %}

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Download &amp; Install</span></h1>
        <p>
            We recommend you install the Slim Framework with the <a href="https://getcomposer.org/" target="_blank">Composer</a>
            dependency manager. Run this bash command in your project's root directory to download
            and install the latest stable version into your project's <code>vendor/</code> directory.
        </p>
        <pre><code class="language-bash">composer require slim/slim</code></pre>
        <p>
            Next, require the Composer autoloader into your PHP application.
        </p>
        <pre><code class="language-php">&lt;?php
require 'vendor/autoload.php';</code></pre>

        <p class="center">Not using Composer?</p>
        <p class="center">
            <a class="btn btn-primary btn-lg" href="https://github.com/slimphp/Slim/releases" target="_blank">Download ZIP Archive</a>
        </p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Features</span></h1>
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-plane"></i> Router</h2>
                <p>
                    Slim provides a powerful router that maps
                    route callbacks to specific HTTP request
                    methods and URIs. It supports route segment
                    parameters and pattern matching.
                </p>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-dot-circle-o"></i> Middleware</h2>
                <p>
                    Build your application with custom concentric
                    middleware to tweak the HTTP request and response
                    objects before and after your Slim app runs.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-exchange"></i> HTTP</h2>
                <p>
                    Slim has easy-to-use request and response abstractions
                    that let you inspect and manipulate
                    HTTP messages' method, status, URI, headers, cookies, and body.
                </p>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-group"></i> Sessions</h2>
                <p>
                    Slim provides first-class session support.
                    It persists session data using
                    industry standard encryption. Slim also
                    enables "flash" messages across requests.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-database"></i> Caching</h2>
                <p>
                    Slim provides helper methods that make client-side
                    HTTP caching easier. It helps you work with
                    the <code>Expires</code>, <code>Last-Modified</code>,
                    and <code>ETag</code> headers.
                </p>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-lock"></i> Crypto</h2>
                <p>
                    Slim has super-secure cryptography
                    using military-grade encryption. Slim uses
                    your unique key to encrypt session and cookie
                    data before persisting data to disk.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Latest News</span></h1>

        {% for post in site.posts limit:3 %}
        <article class="note note-partial">
            <time class="note-publish-datetime">{{ post.date | date: "%b %d, %Y" }}</time>
            <h2 class="note-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="note-excerpt">
                {{ post.excerpt }}
            </div>
        </article>
        {% endfor %}

        <p class="center">
            <a class="btn btn-primary btn-lg" href="/blog">Older News</a>
        </p>
        <p class="center">
            <small><a href="/blog/feed.rss"><i class="fa fa-rss-square"></i> Subscribe with RSS</a></small>
        </p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Newsletter</span></h1>

        <p>
            Don't have Twitter? Join our newsletter and receive one email a week (at most)
            with the latest Slim Framework news, release announcements, and security updates.
            We hate spam, and we'll respect your inbox. You can unsubscribe at any time.
        </p>

        <form action="https://tinyletter.com/slimphp" method="post" target="_blank">
            <div class="form-group">
                <label for="tlemail">Enter your email address</label>
                <input type="email" class="form-control" name="email" id="tlemail" required/>
            </div>

            <p class="center">
                <input type="hidden" value="1" name="embed"/>
                <input type="submit" class="btn btn-primary btn-lg" value="Subscribe Now"/>
            </p>
            <p class="center">
                <small><a href="https://tinyletter.com/slimphp" target="_blank"><i class="fa fa-envelope"></i> Email Archives</a></small>
            </p>
        </form>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Chat on IRC</span></h1>
        <p>
            The official <a href="https://freenode.net/">Freenode</a> IRC channel is
            <code>#slimphp</code>. You can chat with other Slim Framework developers
            to share code or troubleshoot tricky issues. My nick is <code>codeguy</code>
            if you have questions or need assistance in the IRC channel.
        </p>
        <p class="center">
            <a class="btn btn-primary btn-lg" href="irc://irc.freenode.net:6667/slimphp">Visit the IRC Channel</a>
        </p>
        <p class="center">
            <a href="https://botbot.me/freenode/slimphp/"><small><i class="fa fa-history"></i> Read real-time IRC logs on BotBot.me</small></a>
        </p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Follow <a href="https://twitter.com/slimphp" target="_blank">@slimphp</a> on Twitter</span></h1>
        <a class="twitter-timeline" height="500" href="https://twitter.com/slimphp" data-widget-id="564606760938668032">Tweets by @slimphp</a>
    </div>
</div>
