@import "variables";
@import "typography";
@import "layout";
@import "prism";
@import "fontawesome/font-awesome";
@import "components/all";

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 96px 0;
}

a code {
    color: @green;
}

.highlighter-rouge {
    background: #EEE;
    font-size: 12px;
    font-weight: 400;
}
