.center{
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 92%;
    width: 700px;
}

pre{
    margin-bottom: @baseline !important;
}

.twitter-timeline{
    width: 100% !important;
}

.section{
    margin-bottom: @baseline*2;

    > :last-child{
        margin-bottom: 0 !important;

        > :last-child{
            margin-bottom: 0 !important;
        }
    }
}

.toc-title{

}

.toc-links{
    list-style: none;
    padding: 0;

    li{

    }

    a{
        display: block;
        padding: 2px 10px;

        &:hover, &.active{
            border-radius: 4px;
            background: #F5F5F5;
        }
    }
}
