.center{
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 92%;
    width: 700px;
}

pre{
    margin-bottom: @baseline !important;
}

.twitter-timeline{
    width: 100% !important;
}

.section{
    margin-bottom: @baseline*2;

    > :last-child{
        margin-bottom: 0 !important;

        > :last-child{
            margin-bottom: 0 !important;
        }
    }
}

.toc-title{
    border-bottom: 2px solid #EEE;
    padding-bottom: 3px;
}

.toc-links{
    list-style: none;
    padding: 0;

    li:before{
        display: inline-block;
        margin-right: 7px;
        position: relative;
        top: -2px;
        content: "\f0da";
        color: #777;
        font-family: "FontAwesome";
        font-size: 11px;
    }
}
