@import "variables";
@import "typography";
@import "layout";
@import "prism";
@import "fontawesome/font-awesome";
@import "components/all";

html, body{
  margin: 0;
  padding: 0;
}

a code {
  color: @green;
}

// Front matter is included into our PDF and is rendered into html.
// We use this code to hide it from printing.
h4.title + hr { display: none }
h4.title + hr + p { display: none }
