        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/assets/scripts/build/production.min.js"></script>
        <script src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
        <script>
        docsearch({
          apiKey: 'b6e6f2d1ae81c64677b6192755f83a6e',
          indexName: 'slimframework',
          inputSelector: '#docsearch'
        });
        </script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>
