        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/assets/scripts/build/production.min.js"></script>
        {% if page.url contains "/docs" %}
            <script src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
            <script>
              docsearch({
                apiKey: '8ed5262aecf5240c6d66dbba260f3e51',
                indexName: 'slim-docs',
                inputSelector: '#docsearch'
              });
            </script>
        {% endif %}
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>
