<div class="row section">
    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/docs/{{ site.slim_version }}"><i class="fa fa-book"></i><span>User Guide</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/#community"><i class="fa fa-handshake-o"></i><span>Community</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/contribute"><i class="fa fa-wrench"></i><span>Contribute</span></a>
    </div>
</div>
