<div class="row section">
    <div class="col-md-3">
        <a class="slim-button" href="{{ site.urlBasePath }}/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
    </div>

    <div class="col-md-3">
        <a class="slim-button" href="http://docs.slimframework.com" target="_blank"><i class="fa fa-book"></i><span>User Guide</span></a>
    </div>

    <div class="col-md-3">
        <a class="slim-button" href="http://help.slimframework.com" target="_blank"><i class="fa fa-question-circle"></i><span>Support</span></a>
    </div>

    <div class="col-md-3">
        <a class="slim-button" href="{{ site.urlBasePath }}/contribute"><i class="fa fa-wrench"></i><span>Contribute</span></a>
    </div>
</div>
