<div class="row section">
    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/docs"><i class="fa fa-book"></i><span>User Guide</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="http://discourse.slimframework.com" target="_blank"><i class="fa fa-question-circle"></i><span>Support</span></a>
    </div>

    <div class="col-md-3 slim-button-wrapper">
        <a class="slim-button" href="/contribute"><i class="fa fa-wrench"></i><span>Contribute</span></a>
    </div>
</div>
{% if page.title != "Swag" %}
<div class="alert alert-info" style="margin-top: -10px; margin-bottom: 30px">
    <i class="fa fa-smile-o"></i> Swag! We have some. <a href="/swag"><strong>Shop Now <i class="fa fa-long-arrow-right"></i></strong></a>
</div>
{% endif %}
