{% include header.html %}
<div class="wrapper docs">
    <div class="container-fluid">
        <header class="site-header">
            <div class="site-title"><a href="/">Slim</a></div>
            <div class="site-slogan">a micro framework for PHP</div>
        </header>

        <div class="row">
            <div class="col-md-3">
                {% for section in page.docs %}
                <h3 class="toc-title">{{ section.title }}</h3>
                <ul class="toc-links">
                    {% for item in section.items %}
                    <li><a href="{{ item[0] | replace:'.md','.html' }}">{{ item[1] }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>

            <div class="col-md-8 docs-content">
                <h1 class="page-header">{{ page.title }}</h1>
                <div class="edit-panel" style="margin: 0 0 1em 0;">
                    <a href="{{ site.slim_website_repo }}{{page.path}}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-github"></i> Edit This Page</a>
                </div>
                {{ content }}
            </div>
        </div>

        <footer class="site-footer">
            <p>
                Created and maintained by <br/>
                <a href="http://joshlockhart.com">Josh Lockhart</a>,
                <a href="http://www.silentworks.co.uk" target="_blank">Andrew Smith</a>,
                <a href="http://akrabat.com/" target="_blank">Rob Allen</a>, and the
                <a href="https://github.com/orgs/slimphp/people" target="_blank">Slim Framework Team</a>
            </p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="margin: 0; padding-top: 20px">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="9YRVXHRZT6H3L">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </footer>
    </div>
</div>
{% include footer.html %}
