.docs-content {
    h2, h3 {
        display: table;
        border-bottom: dotted 1px transparent;

        &:hover {
            cursor: pointer;
            border-color: #333;;
        }    
    }
} 
html, body {
    scroll-padding-top: @navbar-height;
}
